footer {
    background: none;
    margin-top: 3rem;
    padding-top: 3rem;
    color: white;
    list-style: none;
    /* align-items: center; */
    /* align-content: center; */
}

footer a {
    /* list-style: none; */
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
}

footer a:hover {
    color: #f60df2
}

footer ul { 
    list-style: none;

}

.footer__1 a {
    color: #c30df6;
    text-decoration: double;
}

.footer__2 a {
    font-size: 0.8rem;
}

.footer__links,
.medias {
    line-height: 2.8rem;
}

.footer__container>div h5 {
    margin-bottom: 2rem;
    color: #70c8a2;
    border-bottom: 2px solid;
}

.media__icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.6rem;
    margin-left: 0.9rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    list-style: none;
    text-decoration: none;
}




.footer__copyright {
    border-top: 1px solid white;
    text-align: center;
    margin-top: 2rem;
    padding: 1.2rem;
    /* border-top-: 2px; */
    /* width: 100%; */

}